/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: f0af27f99157
 */

import { ClientCore } from "../core.js";
import { encodeFormQuery, encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { ClientError } from "../models/errors/clienterror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create payout
 *
 * @remarks
 * Request a payout from one of your balances to the balance's configured bank account.
 *
 * The payout will be executed on the next scheduled business day. If no `amount` is specified, the full available
 * balance minus any configured balance reserve is paid out.
 *
 * Once the payout is created with status `requested`, you can cancel it via the
 * [Cancel payout](cancel-payout) endpoint, up until the payout moves to `initiated`.
 *
 * Creating a payout via the API automatically sets the balance's `transferFrequency` to `never`,
 * pausing any previously configured automatic settlement schedule. To resume automatic settlements,
 * update the transfer frequency via the dashboard.
 *
 * ### Webhooks
 *
 * Subscribe to the following webhook events to track payout status changes. See the
 * [Webhook Subscriptions API](list-webhooks) for details on subscribing.
 *
 * | Event | Description |
 * |---|---|
 * | `payout.initiated` | The payout is being executed and funds are reserved. |
 * | `payout.processing-at-bank` | The payout has been submitted to the bank. |
 * | `payout.completed` | The payout has been sent to the destination bank account. |
 * | `payout.canceled` | The payout was canceled via the API before being submitted to the bank. |
 * | `payout.failed` | The payout failed after creation, including bank rejections and post-submission cancellations. |
 *
 * ### Payout failure reasons
 *
 * A payout request may fail immediately if one of the following conditions applies:
 *
 * - A payout is already scheduled for the next business day for this balance.
 * - The balance has insufficient funds.
 * - The balance is not active.
 * - Payouts are blocked for this organization.
 * - The balance has queued refunds.
 * - One of the organization's balances is below the negative balance threshold.
 * - The payout destination (bank account) is invalid or not configured.
 */
export function payoutsCreate(
  client: ClientCore,
  request: operations.CreatePayoutRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.EntityPayoutResponse,
    | errors.ErrorResponse
    | ClientError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: ClientCore,
  request: operations.CreatePayoutRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.EntityPayoutResponse,
      | errors.ErrorResponse
      | ClientError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.CreatePayoutRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload["payout-request"], { explode: true });

  const path = pathToFunc("/v2/payouts")();

  const query = encodeFormQuery({
    "testmode": payload.testmode ?? client._options.testmode,
  });

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/hal+json",
    "idempotency-key": encodeSimple(
      "idempotency-key",
      payload["idempotency-key"],
      { explode: false, charEncoding: "none" },
    ),
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "create-payout",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || {
        strategy: "backoff",
        backoff: {
          initialInterval: 500,
          maxInterval: 5000,
          exponent: 2,
          maxElapsedTime: 7500,
        },
        retryConnectionErrors: true,
      }
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["5xx"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.EntityPayoutResponse,
    | errors.ErrorResponse
    | ClientError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(201, models.EntityPayoutResponse$inboundSchema, {
      ctype: "application/hal+json",
    }),
    M.jsonErr(422, errors.ErrorResponse$inboundSchema, {
      ctype: "application/hal+json",
    }),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
