/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 10f27368a6f1
 */

import { ClientCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { ClientError } from "../models/errors/clienterror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Verify Payee
 *
 * @remarks
 * > 🚧 Beta feature
 * >
 * > This feature is currently in beta testing, and the final specification may still change.
 *
 * Perform a Verification of Payee (VoP) check. This allows you to verify the account holder name against the
 * records held by the receiving bank before initiating a transfer.
 *
 * The verification result indicates whether the provided name matches, closely matches, or does not match the
 * name on file at the receiving bank. This helps prevent misdirected payments.
 *
 * ### Simulating verification scenarios in test mode
 *
 * In test mode, you can simulate various verification outcomes by adjusting the creditor name in the
 * `creditorBankAccount.accountHolderName` property. This allows you to test all possible Verification of Payee
 * results without needing special properties. The names are case insensitive.
 *
 * | Account holder name                    | Scenario                                      | Verification result | Suggested name |
 * |----------------------------------------|-----------------------------------------------|---------------------|----------------|
 * | `John Close Match`                     | Name closely matches the bank records          | `close-match`       | `John Match`   |
 * | `John No Match`                        | Name does not match the bank records           | `no-match`          | —              |
 * | `John Unavailable`                     | Verification is not available                  | `not-available`     | —              |
 * | Any other name                         | Default: name matches the bank records         | `match`             | —              |
 *
 * If set, this operation will use {@link Security.organizationAccessToken} from the global security.
 */
export function verifyPayeesCreate(
  client: ClientCore,
  request?: operations.VerifyPayeeRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.VerificationOfPayeeResponse,
    | errors.ErrorResponse
    | ClientError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: ClientCore,
  request?: operations.VerifyPayeeRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.VerificationOfPayeeResponse,
      | errors.ErrorResponse
      | ClientError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.VerifyPayeeRequest$outboundSchema.optional().parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload?.["verification-of-payee-request"], {
    explode: true,
  });

  const path = pathToFunc("/business-accounts/payee-verifications")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/hal+json",
    "idempotency-key": encodeSimple(
      "idempotency-key",
      payload?.["idempotency-key"],
      { explode: false, charEncoding: "none" },
    ),
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput, [1]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "verify-payee",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || {
        strategy: "backoff",
        backoff: {
          initialInterval: 500,
          maxInterval: 5000,
          exponent: 2,
          maxElapsedTime: 7500,
        },
        retryConnectionErrors: true,
      }
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["5xx"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.VerificationOfPayeeResponse,
    | errors.ErrorResponse
    | ClientError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.VerificationOfPayeeResponse$inboundSchema, {
      ctype: "application/hal+json",
    }),
    M.jsonErr([422, 429], errors.ErrorResponse$inboundSchema, {
      ctype: "application/hal+json",
    }),
    M.jsonErr(503, errors.ErrorResponse$inboundSchema, {
      ctype: "application/hal+json",
    }),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
