openapi: 3.1.0
info:
  title: Mollie API
  version: 1.0.0
  license:
    name: Attribution-NonCommercial-ShareAlike 4.0 International
    identifier: CC-BY-NC-SA-4.0
servers:
  - url: https://api.mollie.com/v2
security:
  - apiKey: []
  - oAuth: []
tags:
  - name: Balances API
    description: Operations related to the Balances API
  - name: Capabilities API
    description: Operations related to the Capabilities API
  - name: Captures API
    description: Operations related to the Captures API
  - name: Chargebacks API
    description: Operations related to the Chargebacks API
  - name: Client Links API
    description: Operations related to the Client Links API
  - name: Clients API
    description: Operations related to the Clients API
  - name: Customers API
    description: Operations related to the Customers API
  - name: Delayed Routing API
    description: Operations related to the Delayed Routing API
  - name: Invoices API
    description: Operations related to the Invoices API
  - name: Mandates API
    description: Operations related to the Mandates API
  - name: Methods API
    description: Operations related to the Methods API
  - name: Onboarding API
    description: Operations related to the Onboarding API
  - name: Organizations API
    description: Operations related to the Organizations API
  - name: Payment Links API
    description: Operations related to the Payment Links API
  - name: Payments API
    description: Operations related to the Payments API
  - name: Permissions API
    description: Operations related to the Permissions API
  - name: Profiles API
    description: Operations related to the Profiles API
  - name: Refunds API
    description: Operations related to the Refunds API
  - name: Sales Invoices API
    description: Operations related to the Sales Invoices API
  - name: Settlements API
    description: Operations related to the Settlements API
  - name: Subscriptions API
    description: Operations related to the Subscriptions API
  - name: Terminals API
    description: Operations related to the Terminals API
  - name: Wallets API
    description: Operations related to the Wallets API
  - name: Webhook Events API
    description: Operations related to the Webhook Events API
  - name: Webhooks API
    description: Operations related to the Webhooks API
paths:
  /balances:
    get:
      summary: List balances
      x-speakeasy-name-override: list
      tags:
        - Balances API
      operationId: list-balances
      security:
        - oAuth:
            - balances.read
      description: |-
        Retrieve a list of the organization's balances, including the primary balance.

        The results are paginated.
      parameters:
        - name: currency
          description: 'Optionally only return balances with the given currency. For example: `EUR`.'
          in: query
          schema:
            type:
              - string
              - 'null'
            example: EUR
        - $ref: '#/components/parameters/list-from'
          schema:
            type: string
            example: bal_gVMhHKqSSRYJyPsuoPNFH
        - $ref: '#/components/parameters/list-limit'
        - $ref: '#/components/parameters/testmode'
        - $ref: '#/components/parameters/idempotency-key'
      responses:
        '200':
          description: |-
            A list of balance objects. For a complete reference of the balance
            object, refer to the [Get balance endpoint](get-balance) documentation.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  count:
                    $ref: '#/components/schemas/list-count'
                  _embedded:
                    type: object
                    properties:
                      balances:
                        description: |-
                          An array of balance objects. For a complete reference of
                          the balance object, refer to the [Get balance endpoint](get-balance) documentation.
                        type: array
                        items:
                          $ref: '#/components/schemas/entity-balance'
                  _links:
                    $ref: '#/components/schemas/list-links'
              examples:
                list-balances-200-1:
                  summary: A list of balance objects
                  value:
                    count: 5
                    _embedded:
                      balances:
                        - resource: balance
                          id: bal_gVMhHKqSSRYJyPsuoPNFH
                          mode: live
                          createdAt: '2022-07-12T09:50:21+00:00'
                          currency: EUR
                          description: Primary balance
                          availableAmount:
                            currency: EUR
                            value: '905.25'
                          pendingAmount:
                            currency: EUR
                            value: '0.00'
                          transferFrequency: daily
                          transferThreshold:
                            currency: EUR
                            value: '5.00'
                          transferReference: RF12-3456-7890-1234
                          transferDestination:
                            type: bank-account
                            beneficiaryName: John Doe
                            bankAccount: NL55INGB0000000000
                          status: active
                          _links:
                            self:
                              href: ...
                              type: application/hal+json
                        - {}
                        - {}
                        - {}
                        - {}
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next:
                        href: https://api.mollie.com/v2/balances?from=bal_gVMhHKqSSRYJyPsuoPABC&limit=5
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                list-balances-200-2:
                  summary: List balances
                  value:
                    _embedded:
                      balances:
                        - resource: balance
                          id: bal_xRc8rYKTwJeENdvKouVJH
                          mode: live
                          createdAt: '2022-07-12T09:50:21+00:00'
                          currency: CHF
                          availableAmount:
                            value: '0.00'
                            currency: CHF
                          pendingAmount:
                            value: '0.00'
                            currency: CHF
                          status: active
                          transferFrequency: monthly
                          transferThreshold:
                            value: '50.00'
                            currency: CHF
                          transferReference: null
                          transferDestination:
                            type: bank-account
                            beneficiaryName: John Doe
                            bankAccount: NL55INGB0000000000
                          _links:
                            self:
                              href: ...
                              type: application/hal+json
                        - resource: balance
                          id: bal_CKjKwQdjCwCSArXFAJNFH
                          mode: live
                          createdAt: '2019-12-06T10:09:32+00:00'
                          currency: EUR
                          availableAmount:
                            value: '3.82'
                            currency: EUR
                          pendingAmount:
                            value: '5.41'
                            currency: EUR
                          status: active
                          transferFrequency: daily
                          transferThreshold:
                            value: '5.00'
                            currency: EUR
                          transferReference: null
                          transferDestination:
                            type: bank-account
                            beneficiaryName: John Doe
                            bankAccount: '***'
                          _links:
                            self:
                              href: ...
                              type: application/hal+json
                    count: 2
                    _links:
                      documentation:
                        href: ...
                        type: text/html
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next: null
        '400':
          $ref: '#/components/responses/400-invalid-list-request'
        '404':
          $ref: '#/components/responses/404-invalid-id'
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              use Mollie\Api\Http\Requests\GetPaginatedBalanceRequest;

              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $balances = $mollie->send(
                  new GetPaginatedBalanceRequest()
              );
          - language: node
            code: ''
          - language: python
            code: |-
              from mollie.api.client import Client

              mollie_client = Client()
              mollie_client.set_access_token("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ")

              balances = mollie_client.balances.list()
          - language: ruby
            code: |-
              require 'mollie-api-ruby'

              Mollie::Client.configure do |config|
                config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'
              end

              balances = Mollie::Balance.all
      x-speakeasy-group: balances
  /balances/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
        schema:
          type: string
          example: bal_gVMhHKqSSRYJyPsuoPNFH
    get:
      summary: Get balance
      x-speakeasy-name-override: get
      tags:
        - Balances API
      operationId: get-balance
      security:
        - oAuth:
            - balances.read
      description: |-
        When processing payments with Mollie, we put all pending funds — usually
        minus Mollie fees — on a balance. Once you have linked a bank account to your Mollie account, we can pay out your
        balance towards this bank account.

        With the Balances API you can retrieve your current balance. The response
        includes two amounts:

        * The *pending amount*. These are payments that have been marked as `paid`,
        but are not yet available on your balance.
        * The *available amount*. This is the amount that you can get paid out to
        your bank account, or use for refunds.

        With instant payment methods like iDEAL, payments are moved to the available
        balance instantly. With slower payment methods, like credit card for example, it can take a few days before the
        funds are available on your balance. These funds will be shown under the *pending amount* in the meanwhile.
      parameters:
        - $ref: '#/components/parameters/testmode'
        - $ref: '#/components/parameters/idempotency-key'
      responses:
        '200':
          description: The balance object.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/entity-balance'
              examples:
                get-balance-200-1:
                  summary: The balance object
                  value:
                    resource: balance
                    id: bal_gVMhHKqSSRYJyPsuoPNFH
                    mode: live
                    createdAt: '2019-12-06T10:09:32+00:00'
                    currency: EUR
                    description: Primary balance
                    availableAmount:
                      currency: EUR
                      value: '905.25'
                    pendingAmount:
                      currency: EUR
                      value: '0.00'
                    transferFrequency: daily
                    transferThreshold:
                      currency: EUR
                      value: '5.00'
                    transferReference: RF12-3456-7890-1234
                    transferDestination:
                      type: bank-account
                      beneficiaryName: John Doe
                      bankAccount: NL55INGB0000000000
                    status: active
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                get-balance-200-2:
                  summary: Get balance
                  value:
                    resource: balance
                    id: bal_CKjKwQdjCwCSArXFAJNFH
                    mode: live
                    createdAt: '2019-12-06T10:09:32+00:00'
                    currency: EUR
                    availableAmount:
                      value: '3.82'
                      currency: EUR
                    pendingAmount:
                      value: '5.41'
                      currency: EUR
                    status: active
                    transferFrequency: daily
                    transferThreshold:
                      value: '5.00'
                      currency: EUR
                    transferReference: null
                    transferDestination:
                      type: bank-account
                      beneficiaryName: John Doe
                      bankAccount: NL55INGB0000000000
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
        '404':
          $ref: '#/components/responses/404-invalid-id'
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              use Mollie\Api\Http\Requests\GetBalanceRequest;

              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $balance = $mollie->send(
                  new GetBalanceRequest("bal_gVMhHKqSSRYJyPsuoPNFH")
              );
          - language: node
            code: ''
          - language: python
            code: |-
              from mollie.api.client import Client

              mollie_client = Client()
              mollie_client.set_access_token("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ")

              balance = mollie_client.balances.get("bal_gVMhHKqSSRYJyPsuoPNFH")
          - language: ruby
            code: |-
              require 'mollie-api-ruby'

              Mollie::Client.configure do |config|
                config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'
              end

              balance = Mollie::Balance.get('bal_gVMhHKqSSRYJyPsuoPNFH')
      x-speakeasy-group: balances
  /balances/primary:
    get:
      summary: Get primary balance
      x-speakeasy-name-override: get-primary
      tags:
        - Balances API
      operationId: get-primary-balance
      security:
        - oAuth:
            - balances.read
      description: |-
        Retrieve the primary balance. This is the balance of your account's primary
        currency, where all payments are settled to by default.

        This endpoint is a convenient alias of the [Get balance](get-balance)
        endpoint.
      responses:
        '200':
          description: The primary balance object.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/entity-balance'
              examples:
                get-primary-balance-200-1:
                  summary: Get primary balance
                  value:
                    resource: balance
                    id: bal_CKjKwQdjCwCSArXFAJNFH
                    mode: live
                    createdAt: '2019-12-06T10:09:32+00:00'
                    currency: EUR
                    availableAmount:
                      value: '3.82'
                      currency: EUR
                    pendingAmount:
                      value: '5.41'
                      currency: EUR
                    status: active
                    transferFrequency: daily
                    transferThreshold:
                      value: '5.00'
                      currency: EUR
                    transferReference: null
                    transferDestination:
                      type: bank-account
                      beneficiaryName: John Doe
                      bankAccount: NL55INGB0000000000
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances/primary \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              use Mollie\Api\Http\Requests\GetBalanceRequest;

              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $balance = $mollie->send(
                  new GetBalanceRequest("primary")
              );
          - language: node
            code: ''
          - language: python
            code: |-
              from mollie.api.client import Client

              mollie_client = Client()
              mollie_client.set_access_token("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ")

              balance = mollie_client.balances.get("primary")
          - language: ruby
            code: ''
      x-speakeasy-group: balances
      parameters:
        - $ref: '#/components/parameters/idempotency-key'
  /balances/{balanceId}/report:
    parameters:
      - $ref: '#/components/parameters/parent-balance-id'
    get:
      summary: Get balance report
      x-speakeasy-name-override: get-report
      tags:
        - Balances API
      operationId: get-balance-report
      security:
        - oAuth:
            - balance-reports.read
      description: |-
        Retrieve a summarized report for all transactions on a given balance within a given timeframe.

        The API also provides a detailed report on all 'prepayments' for Mollie fees that were deducted from your balance
        during the reported period, ahead of your Mollie invoice.

        The alias `primary` can be used instead of the balance ID to refer to the
        organization's primary balance.
      parameters:
        - name: from
          description: |-
            The start date of the report, in `YYYY-MM-DD` format. The from date is
            'inclusive', and in Central European Time. This means a report with for example `from=2024-01-01` will
            include transactions from 2024-01-01 0:00:00 CET and onwards.
          in: query
          schema:
            type: string
            example: '2024-01-01'
          required: true
        - name: until
          description: |-
            The end date of the report, in `YYYY-MM-DD` format. The until date is 'exclusive', and in Central European Time.
            This means a report with for example `until=2024-02-01` will include transactions up until
            2024-01-31 23:59:59 CET.
          in: query
          schema:
            type: string
            example: '2024-02-01'
          required: true
        - name: grouping
          description: |-
            You can retrieve reports in two different formats. With the `status-balances` format, transactions are grouped
            by status (e.g. `pending`, `available`), then by transaction type, and then by other sub-groupings where
            available (e.g. payment method).

            With the `transaction-categories` format, transactions are grouped by
            transaction type, then by status, and then again by other sub-groupings where available.
          in: query
          schema:
            type:
              - string
              - 'null'
            enum:
              - status-balances
              - transaction-categories
            example: status-balances
        - $ref: '#/components/parameters/testmode'
        - $ref: '#/components/parameters/idempotency-key'
      responses:
        '200':
          description: The balance report object.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/entity-balance-report'
              examples:
                get-balance-report-200-1:
                  summary: The balance report object
                  value:
                    resource: balance-report
                    balanceId: bal_gVMhHKqSSRYJyPsuoPNFH
                    timeZone: Europe/Amsterdam
                    from: '2024-01-01'
                    until: '2024-01-31'
                    grouping: transaction-categories
                    totals:
                      open:
                        available:
                          amount:
                            currency: EUR
                            value: '0.00'
                        pending:
                          amount:
                            currency: EUR
                            value: '0.00'
                      payments:
                        immediatelyAvailable:
                          amount:
                            currency: EUR
                            value: '0.00'
                        pending:
                          amount:
                            currency: EUR
                            value: '4.98'
                          subtotals:
                            - transactionType: payment
                              count: 1
                              amount:
                                currency: EUR
                                value: '4.98'
                              subtotals:
                                - method: ideal
                                  count: 1
                                  amount:
                                    currency: EUR
                                    value: '4.98'
                        movedToAvailable:
                          amount:
                            currency: EUR
                            value: '0.00'
                      refunds: {}
                      capital: {}
                      chargebacks: {}
                      transfers: {}
                      fee-prepayments:
                        immediatelyAvailable:
                          amount:
                            currency: EUR
                            value: '0.00'
                        movedToAvailable:
                          amount:
                            currency: EUR
                            value: '-0.36'
                          subtotals:
                            - prepaymentPartType: fee
                              count: 1
                              amount:
                                currency: EUR
                                value: '-0.29'
                              subtotals:
                                - feeType: payment-fee
                                  method: ideal
                                  count: 1
                                  amount:
                                    currency: EUR
                                    value: '-0.29'
                            - prepaymentPartType: fee-vat
                              amount:
                                currency: EUR
                                value: '-0.0609'
                            - prepaymentPartType: fee-rounding-compensation
                              amount:
                                currency: EUR
                                value: '-0.0091'
                        pending:
                          amount:
                            currency: EUR
                            value: '-0.36'
                          subtotals: []
                      corrections: {}
                      close:
                        available:
                          amount:
                            currency: EUR
                            value: '0.00'
                        pending:
                          amount:
                            currency: EUR
                            value: '4.32'
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                get-balance-report-200-2:
                  summary: Get balance report - status-balances grouping
                  x-request: ./requests.yaml#/oauth-get-balance-report---status-balances-grouping
                  value:
                    resource: balance-report
                    balanceId: bal_CKjKwQdjCwCSArXFAJNFH
                    timeZone: Europe/Amsterdam
                    from: '2022-12-01'
                    until: '2022-12-16'
                    grouping: status-balances
                    totals:
                      pendingBalance:
                        open:
                          amount:
                            value: '5.21'
                            currency: EUR
                        pending:
                          amount:
                            value: '4380.51'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 82
                              amount:
                                value: '4382.75'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 74
                                  amount:
                                    value: '4381.45'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-2.24'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - feeType: payment-fee
                                      count: 8
                                      amount:
                                        value: '-2.239'
                                        currency: EUR
                                      subtotals:
                                        - method: creditcard
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                          subtotals:
                                            - cardIssuer: amex
                                              cardAudience: other
                                              cardRegion: intra-eea
                                              count: 1
                                              amount:
                                                value: '-0.279'
                                                currency: EUR
                                        - method: ideal
                                          count: 7
                                          amount:
                                            value: '-1.96'
                                            currency: EUR
                                - prepaymentPartType: fee-rounding-compensation
                                  amount:
                                    value: '-0.001'
                                    currency: EUR
                            - transactionType: pending-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                            - transactionType: to-be-released-rolling-reserve
                              amount:
                                value: '0.10'
                                currency: EUR
                        movedToAvailable:
                          amount:
                            value: '1080.31'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 70
                              amount:
                                value: '1082.65'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 62
                                  amount:
                                    value: '1081.35'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-2.24'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - feeType: payment-fee
                                      count: 8
                                      amount:
                                        value: '-2.239'
                                        currency: EUR
                                      subtotals:
                                        - method: creditcard
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                          subtotals:
                                            - cardIssuer: amex
                                              cardAudience: other
                                              cardRegion: intra-eea
                                              count: 1
                                              amount:
                                                value: '-0.279'
                                                currency: EUR
                                        - method: ideal
                                          count: 7
                                          amount:
                                            value: '-1.96'
                                            currency: EUR
                                - prepaymentPartType: fee-rounding-compensation
                                  amount:
                                    value: '-0.001'
                                    currency: EUR
                            - transactionType: held-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                        close:
                          amount:
                            value: '3305.41'
                            currency: EUR
                      availableBalance:
                        open:
                          amount:
                            value: '2.25'
                            currency: EUR
                        movedFromPending:
                          amount:
                            value: '1080.31'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 70
                              amount:
                                value: '1082.65'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 62
                                  amount:
                                    value: '1081.35'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-2.24'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - feeType: payment-fee
                                      count: 8
                                      amount:
                                        value: '-2.239'
                                        currency: EUR
                                      subtotals:
                                        - method: creditcard
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                          subtotals:
                                            - cardIssuer: amex
                                              cardAudience: other
                                              cardRegion: intra-eea
                                              count: 1
                                              amount:
                                                value: '-0.279'
                                                currency: EUR
                                        - method: ideal
                                          count: 7
                                          amount:
                                            value: '-1.96'
                                            currency: EUR
                                - prepaymentPartType: fee-rounding-compensation
                                  amount:
                                    value: '-0.001'
                                    currency: EUR
                            - transactionType: held-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-1078.74'
                            currency: EUR
                          subtotals:
                            - transactionType: refund
                              count: 4
                              amount:
                                value: '-0.12'
                                currency: EUR
                              subtotals:
                                - method: ideal
                                  count: 1
                                  amount:
                                    value: '-0.01'
                                    currency: EUR
                                - method: pointofsale
                                  count: 3
                                  amount:
                                    value: '-0.11'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-1.00'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 4
                                  amount:
                                    value: '-1.00'
                                    currency: EUR
                                  subtotals:
                                    - feeType: refund-fee
                                      count: 4
                                      amount:
                                        value: '-1.00'
                                        currency: EUR
                            - transactionType: outgoing-transfer
                              count: 1
                              amount:
                                value: '-1077.62'
                                currency: EUR
                        close:
                          amount:
                            value: '3.82'
                            currency: EUR
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                get-balance-report-200-3:
                  summary: Get balance report - transaction-categories grouping
                  x-request: ./requests.yaml#/oauth-get-balance-report---transaction-categories-grouping
                  value:
                    resource: balance-report
                    balanceId: bal_CKjKwQdjCwCSArXFAJNFH
                    timeZone: Europe/Amsterdam
                    from: '2022-12-01'
                    until: '2022-12-16'
                    grouping: transaction-categories
                    totals:
                      open:
                        pending:
                          amount:
                            value: '5.21'
                            currency: EUR
                        available:
                          amount:
                            value: '2.25'
                            currency: EUR
                      payments:
                        pending:
                          amount:
                            value: '4382.75'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 82
                              amount:
                                value: '4382.75'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 74
                                  amount:
                                    value: '4381.45'
                                    currency: EUR
                            - transactionType: pending-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                            - transactionType: to-be-released-rolling-reserve
                              amount:
                                value: '0.10'
                                currency: EUR
                        movedToAvailable:
                          amount:
                            value: '1082.55'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 70
                              amount:
                                value: '1082.65'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 62
                                  amount:
                                    value: '1081.35'
                                    currency: EUR
                            - transactionType: held-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      refunds:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-0.12'
                            currency: EUR
                          subtotals:
                            - transactionType: refund
                              count: 4
                              amount:
                                value: '-0.12'
                                currency: EUR
                              subtotals:
                                - method: ideal
                                  count: 1
                                  amount:
                                    value: '-0.01'
                                    currency: EUR
                                - method: pointofsale
                                  count: 3
                                  amount:
                                    value: '-0.11'
                                    currency: EUR
                      chargebacks:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      capital:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      transfers:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-1077.62'
                            currency: EUR
                          subtotals:
                            - transactionType: outgoing-transfer
                              count: 1
                              amount:
                                value: '-1077.62'
                                currency: EUR
                      fee-prepayments:
                        pending:
                          amount:
                            value: '-2.24'
                            currency: EUR
                          subtotals:
                            - prepaymentPartType: fee
                              count: 8
                              amount:
                                value: '-2.239'
                                currency: EUR
                              subtotals:
                                - feeType: payment-fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - method: creditcard
                                      count: 1
                                      amount:
                                        value: '-0.279'
                                        currency: EUR
                                      subtotals:
                                        - cardIssuer: amex
                                          cardAudience: other
                                          cardRegion: intra-eea
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                    - method: ideal
                                      count: 7
                                      amount:
                                        value: '-1.96'
                                        currency: EUR
                            - prepaymentPartType: fee-rounding-compensation
                              amount:
                                value: '-0.001'
                                currency: EUR
                        movedToAvailable:
                          amount:
                            value: '-2.24'
                            currency: EUR
                          subtotals:
                            - prepaymentPartType: fee
                              count: 8
                              amount:
                                value: '-2.239'
                                currency: EUR
                              subtotals:
                                - feeType: payment-fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - method: creditcard
                                      count: 1
                                      amount:
                                        value: '-0.279'
                                        currency: EUR
                                      subtotals:
                                        - cardIssuer: amex
                                          cardAudience: other
                                          cardRegion: intra-eea
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                    - method: ideal
                                      count: 7
                                      amount:
                                        value: '-1.96'
                                        currency: EUR
                            - prepaymentPartType: fee-rounding-compensation
                              amount:
                                value: '-0.001'
                                currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-1.00'
                            currency: EUR
                          subtotals:
                            - prepaymentPartType: fee
                              count: 4
                              amount:
                                value: '-1.00'
                                currency: EUR
                              subtotals:
                                - feeType: refund-fee
                                  count: 4
                                  amount:
                                    value: '-1.00'
                                    currency: EUR
                      corrections:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      close:
                        pending:
                          amount:
                            value: '3305.41'
                            currency: EUR
                        available:
                          amount:
                            value: '3.82'
                            currency: EUR
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
        '404':
          $ref: '#/components/responses/404-invalid-id'
        '422':
          description: The request is invalid. For example, the `from` date is after `until` date.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/error-response'
              example:
                status: 422
                title: Unprocessable Entity
                detail: The 'from' field is after 'until' field
                field: from
                _links:
                  documentation:
                    href: ...
                    type: text/html
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/report?from=2024-01-01&until=2024-02-01&grouping=transaction-categories \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              use Mollie\Api\Http\Requests\GetBalanceReportRequest;

              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $report = $mollie->send(
                  new GetBalanceReportRequest(
                      balanceId: "bal_gVMhHKqSSRYJyPsuoPNFH",
                      from: new \DateTime("2024-01-01"),
                      until: new \DateTime("2024-02-01"),
                      grouping: "transaction-categories"
                  )
              );
          - language: node
            code: ''
          - language: python
            code: ''
          - language: ruby
            code: ''
      x-speakeasy-group: balances
  /balances/{balanceId}/transactions:
    parameters:
      - $ref: '#/components/parameters/parent-balance-id'
    get:
      summary: List balance transactions
      x-speakeasy-name-override: list-transactions
      tags:
        - Balances API
      operationId: list-balance-transactions
      security:
        - oAuth:
            - balances.read
      description: |-
        Retrieve a list of all balance transactions. Transactions include for
        example payments, refunds, chargebacks, and settlements.

        For an aggregated report of these balance transactions, refer to the [Get
        balance report](get-balance-report) endpoint.

        The alias `primary` can be used instead of the balance ID to refer to the
        organization's primary balance.

        The results are paginated.
      parameters:
        - $ref: '#/components/parameters/list-from'
          schema:
            type: string
            example: baltr_QM24QwzUWR4ev4Xfgyt29A
        - $ref: '#/components/parameters/list-limit'
        - $ref: '#/components/parameters/testmode'
        - $ref: '#/components/parameters/idempotency-key'
      responses:
        '200':
          description: A list of balance transaction objects.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  count:
                    $ref: '#/components/schemas/list-count'
                  _embedded:
                    type: object
                    properties:
                      balance_transactions:
                        description: An array of balance transaction objects.
                        type: array
                        items:
                          $ref: '#/components/schemas/entity-balance-transaction'
                  _links:
                    $ref: '#/components/schemas/list-links'
              examples:
                list-balance-transactions-200-1:
                  summary: A list of balance transaction objects
                  value:
                    count: 5
                    _embedded:
                      balance_transactions:
                        - resource: balance-transaction
                          id: baltr_QM24QwzUWR4ev4Xfgyt29A
                          type: refund
                          resultAmount:
                            currency: EUR
                            value: '-10.25'
                          initialAmount:
                            currency: EUR
                            value: '-10.00'
                          deductions:
                            currency: EUR
                            value: '-0.25'
                          createdAt: '2022-12-16T11:23:25+00:00'
                          context:
                            paymentId: tr_5B8cwPMGnU6qLbRvo7qEZo
                            refundId: re_4qqhO89gsT
                        - resource: balance-transaction
                          id: baltr_WhmDwNYR87FPDbiwBhUXCh
                          type: payment
                          resultAmount:
                            currency: EUR
                            value: '9.71'
                          initialAmount:
                            currency: EUR
                            value: '10.00'
                          deductions:
                            currency: EUR
                            value: '-0.29'
                          createdAt: '2022-12-16T11:23:25+00:00'
                          context:
                            paymentId: tr_5B8cwPMGnU6qLbRvo7qEZo
                        - {}
                        - {}
                        - {}
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next:
                        href: https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/transactions?from=baltr_rXeW2yPqqDUyfAqq8fS5Bg&limit=5
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                list-balance-transactions-200-2:
                  summary: List balance transactions
                  value:
                    _embedded:
                      balance_transactions:
                        - resource: balance-transaction
                          id: baltr_Eh5yKgk4PWxsCSJy7bdRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:23:25+00:00'
                          context:
                            paymentId: tr_9gX2sjtuh6
                        - resource: balance-transaction
                          id: baltr_BR56v6ZPrVcfy8jbzadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:22:20+00:00'
                          context:
                            paymentId: tr_qVamMQaRjN
                        - resource: balance-transaction
                          id: baltr_XM3Ye884WheSEsGqyadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:22:12+00:00'
                          context:
                            paymentId: tr_vLzZYBN6gd
                        - resource: balance-transaction
                          id: baltr_pYs7WdRU9TV9cyxsnadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:20:20+00:00'
                          context:
                            paymentId: tr_hhwh2cTWCk
                        - resource: balance-transaction
                          id: baltr_vecp57y9tTsnohz2hadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:19:19+00:00'
                          context:
                            paymentId: tr_jnTdA4W6Rq
                        - resource: balance-transaction
                          id: baltr_s5EKzwZ394TxEcpSaadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:18:12+00:00'
                          context:
                            paymentId: tr_xLQaL4nsJT
                        - resource: balance-transaction
                          id: baltr_WgQcFW4DS9zNDeWCWadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:17:28+00:00'
                          context:
                            paymentId: tr_RSiTUXmzGo
                        - resource: balance-transaction
                          id: baltr_ZAbACJF2Nh2PCJysHadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:15:22+00:00'
                          context:
                            paymentId: tr_h8mPuFp8hq
                        - resource: balance-transaction
                          id: baltr_CM6okJdX7SUFDzXVBadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:14:16+00:00'
                          context:
                            paymentId: tr_kJJrKynq7H
                        - resource: balance-transaction
                          id: baltr_Luwmv2RPjWAPVbQsrZdRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:11:16+00:00'
                          context:
                            paymentId: tr_hrimCxybrx
                        - resource: balance-transaction
                          id: baltr_fNnyBtyVpMaujFHoTZdRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:07:18+00:00'
                          context:
                            paymentId: tr_AxBZBFz2to
                        - resource: balance-transaction
                          id: baltr_ZYkNBk6NpH8yyanezZbRH
                          type: payment
                          resultAmount:
                            value: '1.00'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          createdAt: '2022-12-15T16:40:16+00:00'
                          context:
                            paymentId: tr_dZvMYBkaMd
                        - resource: balance-transaction
                          id: baltr_KouV3xWwyPSimHtPuZbRH
                          type: payment
                          resultAmount:
                            value: '1.00'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          createdAt: '2022-12-15T16:39:22+00:00'
                          context:
                            paymentId: tr_iNkGFF75jh
                        - resource: balance-transaction
                          id: baltr_R7J2QLNXBHozou2sygaRH
                          type: payment
                          resultAmount:
                            value: '0.62'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          deductions:
                            value: '-0.38'
                            currency: EUR
                          createdAt: '2022-12-15T08:32:17+00:00'
                          context:
                            paymentId: tr_5ZYFyKSBLy
                        - resource: balance-transaction
                          id: baltr_wYLbjfBDPPbhktwP9iYRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T14:11:11+00:00'
                          context:
                            paymentId: tr_iSQFK5EVov
                        - resource: balance-transaction
                          id: baltr_bqd6QKaPMpgWKLRAYdYRH
                          type: payment
                          resultAmount:
                            value: '1.00'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          createdAt: '2022-12-14T13:26:18+00:00'
                          context:
                            paymentId: tr_KacasZ6Mep
                        - resource: balance-transaction
                          id: baltr_EW4yXvwwERRkNTxGUHYRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T10:10:29+00:00'
                          context:
                            paymentId: tr_PsZAZznzcg
                        - resource: balance-transaction
                          id: baltr_MU5s5vSHYDRSWnYbJBYRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T09:10:17+00:00'
                          context:
                            paymentId: tr_eUo3wbBuSe
                        - resource: balance-transaction
                          id: baltr_UAzMEogYhsKnBiNQF5YRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T08:11:12+00:00'
                          context:
                            paymentId: tr_wgCSd9H32d
                        - resource: balance-transaction
                          id: baltr_tRCT9FVTN4gmoYsetiXRH
                          type: outgoing-transfer
                          resultAmount:
                            value: '-1077.62'
                            currency: EUR
                          initialAmount:
                            value: '-1077.62'
                            currency: EUR
                          createdAt: '2022-12-14T05:02:25+00:00'
                          context:
                            settlementId: stl_nyjwa2
                            transferId: trf_nyjwa2
                        - resource: balance-transaction
                          id: baltr_mCT66L9cfEWbqgNFwFWRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-13T15:23:17+00:00'
                          context:
                            paymentId: tr_Q4P8DoWGhA
                        - resource: balance-transaction
                          id: baltr_qb8AuKkzZQ4ipFpbkDWRH
                          type: refund
                          resultAmount:
                            value: '-0.30'
                            currency: EUR
                          initialAmount:
                            value: '-0.05'
                            currency: EUR
                          deductions:
                            value: '-0.25'
                            currency: EUR
                          createdAt: '2022-12-13T15:01:56+00:00'
                          context:
                            paymentId: tr_PsZAZznzcg
                            refundId: re_6Z8eVo5cfB
                        - resource: balance-transaction
                          id: baltr_HBLVK3kVRhmZWSZWQ2WRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-13T13:11:11+00:00'
                          context:
                            paymentId: tr_6suxvyRvh7
                        - resource: balance-transaction
                          id: baltr_C3EMuY25RMvkCHvX72WRH
                          type: payment
                          resultAmount:
                            value: '8.00'
                            currency: EUR
                          initialAmount:
                            value: '8.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:08:31+00:00'
                          context:
                            paymentId: tr_Avvj4y3vpT
                        - resource: balance-transaction
                          id: baltr_GwdyZkuUtckkfqgP72WRH
                          type: payment
                          resultAmount:
                            value: '7.00'
                            currency: EUR
                          initialAmount:
                            value: '7.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:08:17+00:00'
                          context:
                            paymentId: tr_PipTfbTdSZ
                        - resource: balance-transaction
                          id: baltr_r7F48qyzcpeqzRN872WRH
                          type: payment
                          resultAmount:
                            value: '11.00'
                            currency: EUR
                          initialAmount:
                            value: '11.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:08:12+00:00'
                          context:
                            paymentId: tr_XPn7eZLdHW
                        - resource: balance-transaction
                          id: baltr_RGxkRZAqqMUx9uLp62WRH
                          type: payment
                          resultAmount:
                            value: '50.00'
                            currency: EUR
                          initialAmount:
                            value: '50.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:08:12+00:00'
                          context:
                            paymentId: tr_gwXxqPkEp5
                        - resource: balance-transaction
                          id: baltr_TwHzY2rqhpmWNKdazzVRH
                          type: payment
                          resultAmount:
                            value: '60.00'
                            currency: EUR
                          initialAmount:
                            value: '60.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:07:15+00:00'
                          context:
                            paymentId: tr_NAmGGiTYFa
                        - resource: balance-transaction
                          id: baltr_vEYxvT9jswxgdXfJzzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:07:12+00:00'
                          context:
                            paymentId: tr_vhRv8ViBMe
                        - resource: balance-transaction
                          id: baltr_NdJB8uc7xB2SZW3zyzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:07:09+00:00'
                          context:
                            paymentId: tr_FAncWtTAkc
                        - resource: balance-transaction
                          id: baltr_pEM6remSK3UGHDRAuzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:06:19+00:00'
                          context:
                            paymentId: tr_qo5gbi9vJS
                        - resource: balance-transaction
                          id: baltr_6GusRMZHuWapoEFvtzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:06:17+00:00'
                          context:
                            paymentId: tr_SQAnWQTDhk
                        - resource: balance-transaction
                          id: baltr_iieu2Lzf52V3KGadtzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:06:14+00:00'
                          context:
                            paymentId: tr_SfwMVsgupV
                        - resource: balance-transaction
                          id: baltr_e2gtch39TSo6iABHozVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:05:19+00:00'
                          context:
                            paymentId: tr_zDnDYuv2pv
                        - resource: balance-transaction
                          id: baltr_pmNMcz8GdvwPmvmunzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:05:15+00:00'
                          context:
                            paymentId: tr_oHC6fGA79e
                        - resource: balance-transaction
                          id: baltr_qFmvrsKMRojS967cnzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:05:12+00:00'
                          context:
                            paymentId: tr_CDTPhfQSxX
                        - resource: balance-transaction
                          id: baltr_DcLYydj7aMazfaWQnzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:05:10+00:00'
                          context:
                            paymentId: tr_hqirWect39
                        - resource: balance-transaction
                          id: baltr_3BoK75R8c2Wuomf9hzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:04:16+00:00'
                          context:
                            paymentId: tr_Qj5Hw28wYV
                        - resource: balance-transaction
                          id: baltr_9LErqzZoJ9ZDvx3sgzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:04:13+00:00'
                          context:
                            paymentId: tr_gKUTkGHf39
                        - resource: balance-transaction
                          id: baltr_AdVYVkaGLzVsnNofgzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:04:11+00:00'
                          context:
                            paymentId: tr_sziq4rQGCK
                        - resource: balance-transaction
                          id: baltr_HQvvmTk2FCbQJHHcbzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:03:19+00:00'
                          context:
                            paymentId: tr_CrYoNkUrVo
                        - resource: balance-transaction
                          id: baltr_AHWBoHhsAV8HnQKGbzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:03:16+00:00'
                          context:
                            paymentId: tr_jZLuE2xWM5
                        - resource: balance-transaction
                          id: baltr_iej3r8HjzyLLxv95bzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:03:14+00:00'
                          context:
                            paymentId: tr_UziwFDQHWB
                        - resource: balance-transaction
                          id: baltr_vLqVSaXJ5d8SjNTgazVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:03:10+00:00'
                          context:
                            paymentId: tr_Umu5CyUBTK
                        - resource: balance-transaction
                          id: baltr_iEgyvSjkCWVbQpREVzVRH
                          type: payment
                          resultAmount:
                            value: '150.00'
                            currency: EUR
                          initialAmount:
                            value: '150.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:02:13+00:00'
                          context:
                            paymentId: tr_y7iQWhd9jE
                        - resource: balance-transaction
                          id: baltr_Cq6pB2qDkPXvXv4wUzVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:02:10+00:00'
                          context:
                            paymentId: tr_z4bBWATo6R
                        - resource: balance-transaction
                          id: baltr_W4XvgZTmFhvoNdPxPzVRH
                          type: payment
                          resultAmount:
                            value: '100.00'
                            currency: EUR
                          initialAmount:
                            value: '100.00'
                            currency: EUR
                          createdAt: '2022-12-13T13:01:19+00:00'
                          context:
                            paymentId: tr_uKnTrJmuBU
                        - resource: balance-transaction
                          id: baltr_SnQyfLUyy6HmHth8GyVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T12:50:14+00:00'
                          context:
                            paymentId: tr_DQNgqzsPuV
                        - resource: balance-transaction
                          id: baltr_QYAWSE7rV4UraAgSAyVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T12:49:15+00:00'
                          context:
                            paymentId: tr_PJM8Uxj2uW
                        - resource: balance-transaction
                          id: baltr_oAnC33yT7GXhP7X8AyVRH
                          type: payment
                          resultAmount:
                            value: '10.00'
                            currency: EUR
                          initialAmount:
                            value: '10.00'
                            currency: EUR
                          createdAt: '2022-12-13T12:49:12+00:00'
                          context:
                            paymentId: tr_DoVqyuZEfg
                    count: 50
                    _links:
                      documentation:
                        href: ...
                        type: text/html
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next:
                        href: https://api.mollie.com/v2/balances/bal_CKjKwQdjCwCSArXFAJNFH/transactions?from=baltr_WuSLmsLzeDVRRYAq9yVRH&limit=50
                        type: application/hal+json
        '400':
          $ref: '#/components/responses/400-invalid-list-request'
        '404':
          $ref: '#/components/responses/404-invalid-id'
        '429':
          description: Rate Limit has been reached.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/error-response'
              example:
                status: 492
                title: Too Many Requests
                detail: Too Many Requests in a brief period. Please wait X seconds before retrying
                _links:
                  documentation:
                    href: ...
                    type: text/html
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/transactions \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              use Mollie\Api\Http\Requests\GetPaginatedBalanceTransactionRequest;

              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $balanceTransactions = $mollie->send(
                  new GetPaginatedBalanceTransactionRequest("bal_gVMhHKqSSRYJyPsuoPNFH")
              );
          - language: node
            code: ''
          - language: python
            code: ''
          - language: ruby
            code: ''
      x-speakeasy-group: balances
  /settlements:
    get:
      summary: List settlements
      x-speakeasy-name-override: list
      tags:
        - Settlements API
      operationId: list-settlements
      security:
        - oAuth:
            - settlements.read
      description: |-
        Retrieve a list of all your settlements.

        The results are paginated.
      parameters:
        - $ref: '#/components/parameters/list-from'
          schema:
            type: string
            example: stl_jDk30akdN
        - $ref: '#/components/parameters/list-limit'
        - name: balanceId
          in: query
          description: |-
            Provide the token of the balance to filter the settlements by. This is
            the balance token that the settlement was settled to.
          schema:
            $ref: '#/components/schemas/balanceToken'
            type:
              - string
              - 'null'
        - name: year
          in: query
          description: Provide the year to query the settlements. Must be used combined with `month` parameter
          schema:
            type:
              - string
              - 'null'
            example: '2025'
        - name: month
          in: query
          description: Provide the month to query the settlements. Must be used combined with `year` parameter
          schema:
            type:
              - string
              - 'null'
            example: '1'
        - name: currencies
          in: query
          description: Provides the currencies to retrieve the settlements. It accepts multiple currencies in a comma-separated format.
          schema:
            type:
              - string
              - 'null'
            $ref: '#/components/schemas/currencies'
            examples:
              - EUR
              - EUR,GBP
        - $ref: '#/components/parameters/idempotency-key'
      responses:
        '200':
          description: |-
            A list of settlement objects. For a complete reference of the settlement
            object, refer to the [Get settlement endpoint](get-settlement) documentation.
          content:
            application/hal+json:
              schema:
                type: object
                required:
                  - count
                  - _embedded
                  - _links
                properties:
                  count:
                    $ref: '#/components/schemas/list-count'
                  _embedded:
                    type: object
                    required:
                      - settlements
                    properties:
                      settlements:
                        description: |-
                          An array of settlement objects. For a complete reference
                          of the settlement object, refer to the [Get settlement endpoint](get-settlement) documentation.
                        type: array
                        items:
                          $ref: '#/components/schemas/entity-settlement'
                  _links:
                    $ref: '#/components/schemas/list-links'
              examples:
                list-settlements-200-1:
                  summary: A list of settlement objects
                  value:
                    count: 1
                    _embedded:
                      settlements:
                        - resource: settlement
                          id: stl_jDk30akdN
                          reference: 1234567.2404.03
                          status: paidout
                          createdAt: '2024-04-31T12:50:14+00:00'
                          amount:
                            currency: EUR
                            value: '39.75'
                          balanceId: bal_3kUf4yU2nT
                          periods: {}
                          settledAt: '2024-04-06T09:41:44.0Z'
                          invoiceId: inv_FrvewDA3Pr
                          _links:
                            self:
                              href: ...
                              type: application/hal+json
                            payments:
                              href: https://api.mollie.com/v2/settlements/stl_jDk30akdN/payments
                              type: application/hal+json
                            refunds:
                              href: https://api.mollie.com/v2/settlements/stl_jDk30akdN/refunds
                              type: application/hal+json
                            chargebacks:
                              href: https://api.mollie.com/v2/settlements/stl_jDk30akdN/chargebacks
                              type: application/hal+json
                            captures:
                              href: https://api.mollie.com/v2/settlements/stl_jDk30akdN/captures
                              type: application/hal+json
                            invoice:
                              href: https://api.mollie.com/v2/invoices/inv_UQgMnkkTFz
                              type: application/hal+json
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next:
                        href: https://api.mollie.com/v2/settlements?from=cst_stTC2WHAuS&limit=5
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
        '400':
          $ref: '#/components/responses/400-invalid-list-request'
        '404':
          $ref: '#/components/responses/404-invalid-id'
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/settlements \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              use Mollie\Api\MollieApiClient;
              use Mollie\Api\Http\Requests\GetPaginatedSettlementsRequest;

              $mollie = new MollieApiClient();
              $mollie->setAccessToken('access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ');

              $request = new GetPaginatedSettlementsRequest();

              $settlements = $mollie->send($request);
          - language: node
            code: |-
              const { createMollieClient } = require('@mollie/api-client');
              const mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });

              const settlements = await mollieClient.settlements.iterate();
          - language: python
            code: |-
              from mollie.api.client import Client

              mollie_client = Client()
              mollie_client.set_access_token("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ")

              settlements = mollie_client.settlements.list()
          - language: ruby
            code: |-
              require 'mollie-api-ruby'

              Mollie::Client.configure do |config|
                config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'
              end

              settlements = Mollie::settlement.all
      x-speakeasy-group: settlements
  /settlements/{id}:
    parameters:
      - $ref: '#/components/parameters/id'
        schema:
          type: string
          example: stl_jDk30akdN
    get:
      summary: Get settlement
      x-speakeasy-name-override: get
      tags:
        - Settlements API
      operationId: get-settlement
      security:
        - oAuth:
            - settlements.read
      description: |-
        Retrieve a single settlement by its ID.

        To lookup settlements by their bank reference, replace the ID in the URL by
        a reference. For example: `1234567.2404.03`.

        A settlement represents a transfer of your balance funds to your external bank account.

        Settlements will typically include a report that details what balance transactions have taken place between this
        settlement and the previous one.

        For more accurate bookkeeping, refer to the [balance report](get-balance-report) endpoint or the
        [balance transactions](list-balance-transactions) endpoint.
      responses:
        '200':
          description: The settlement object.
          content:
            application/hal+json:
[...]
